# We want to manually specify each and every file that is to be included in our
# git repository as some of my scripts may still contain private data and I need
# to clean them up first...

**
!/*.md
!/.gitignore
!/_common.sh
!/acpi.sh
!/brightness.sh
!/get-edid.py
!/i3launcher.sh
!/i3master
!/pingnet.sh
!/reload_yubi.sh
!/rofi_wifi.sh
!/screenlock.sh
!/screenshot.sh
!/sleep.sh
!/sys.sh
!/rofi_emoji.sh
!/xss-dim